doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h3.h3 Dear Mr IcedTea,
      p
        |Đã có một email được gửi đến bạn từ: 
        strong !{name} <br />
        |Địa chỉ email:
        strong !{email} <br />
        |Với nội dung: 
        strong !{Message}
             h4.h4 Thanks,        
            h3.h3 Your BOT
    
